#title{
    font-family: 'Notable', sans-serif;
    letter-spacing: -1px!important;
    text-transform: capitalize;
}

form{
    width: 65%;
    position: absolute;
    left: 21%;
    margin-left: -50px;
}