#title{
    font-family: 'Notable', sans-serif;
    letter-spacing: -1px!important;
    text-transform: capitalize;
}

form{
    width: 65%;
    position: absolute;
    left: 20%;
    margin-left: -50px;
    /* margin-right: -50px; */
    background: black;
    padding: 2.5rem 0.625rem;
    border-radius: 0.25rem;
}

  
  @media (min-width: 480px) {
    form {
      padding: 2.5rem;
    }
  }

  label{
      color: white;
  }